

body {
  background-image: url("./bike_background.jpeg");
  color: #FFF;
  text-shadow: 2px 2px 2px black;

}

#root {
  text-align: center;
}

h1 {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 50px;
}


ul {
  list-style-type: none;
}

li:hover {
  cursor: pointer;
}
